<%- include("partials/header") %> 

<main class="pokedex">
    <div class="container__pokedex">
        <% for( const pokemon of listPokemons ) { %>
            <div class="container__pokedex--form">
                <h4 class="container__pokedex--title">#<%= pokemon.id %> <%= pokemon.name %></h4>
                <a href="/pokedex/<%= pokemon.id %>"><img src="/img/<%= pokemon.id %>.png" alt="<%= pokemon.name %>" loading="lazy" class="container__pokedex--img"></a>
                <a href="/pokedex/<%= pokemon.id %>"><h4 class="container__pokedex__details">Détail du pokémon +</h4></a>
                <span class="container__pokedex--type"><%= pokemon.type[0]%> | <%= pokemon.type[1]%></span>
            </div>
            <% } %>
    </div>

</main>
<%- include("partials/footer") %> 