<%- include("partials/header") %> 
<form action="/search/pokemon/name" method="get">
    <div class="nav__search--pokemon">
        <input type="text" name="name" id="name" placeholder="Chercher un Pokémon" value="<%= pokemonName.name %>">
        <button class="button__submit" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>
<form action="/search/pokemon/type" method="get">
    <div class="nav__search--pokemon">
        <select name="type" id="type">
            <option class="type" value="Type">Type</option>
            <option class="type" value="Feu">Feu</option>
            <option value="Dragon">Dragon</option>
            <option value="Poison">Poison</option>
            <option value="Normal">Normal</option>
            <option value="Insecte">Insecte</option>
            <option value="Eau">Eau</option>
            <option value="Plante">Plante</option>
            <option value="Électrik">Électrik</option>
            <option value="Vol">Vol</option>
            <option value="Roche">Roche</option>
            <option value="Sol">Sol</option>
            <option value="Acier">Acier</option>
            <option value="Glace">Glace</option>
            </select>
            <button class="button__submit" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>
<section class="container__pokemon">
    <div class="container__image">
        <h1 class="container__image--title">#<%= pokemonName.id %> <%= pokemonName.name %></h1>
        <img src="/img/<%= pokemonName.id %>.png" alt="<%= pokemonName.name%>" class="container__pokemon--image">
    </div>
    <div class="container__right">
        <h1 class="container__right--title">| Descriptions</h1>
        <div class="container__pokemon--type">
            <h4> > Type :</h4>
            <h4><%= pokemonName.type[0] %></h4>
        </div>
        <div class="container__pokemon--details">
            <div class="container__pokemon--details left">
                <ul class="container__pokemon--lists">
                    <li class="container__pokemon--list">> HP</li>
                    <li class="container__pokemon--list">> Attaque</li>
                    <li class="container__pokemon--list">> Défense</li>
                    <li class="container__pokemon--list">> Attaque spé</li>
                    <li class="container__pokemon--list">> Défense spé</li>
                    <li class="container__pokemon--list">> Vitesse</li>
                </ul>
            </div>
            <div class="container__pokemon--details right">
                <ul class="container__pokemon--lists">
                    <li class="container__pokemon--list"><%= pokemonName.pv %></li>
                    <li class="container__pokemon--list"><%= pokemonName.attaque %></li>
                    <li class="container__pokemon--list"><%= pokemonName.defense %></li>
                    <li class="container__pokemon--list"><%= pokemonName.attaque_spe %></li>
                    <li class="container__pokemon--list"><%= pokemonName.defense_spe %></li>
                    <li class="container__pokemon--list"><%= pokemonName.vitesse %></li>
                </ul>
            </div>
        </div>
        <div class="container__pokemon--change">
            <a href="/pokedex/<%= pokemonName.id - 1 %>">Précédent</a><hr>
            <a href="/pokedex/<%= pokemonName.id + 1 %>">Suivant</a>
        </div>
    </div>
</section>
<%- include("partials/footer") %> 