<%- include("partials/header") %> 
<form action="/search/pokemon/name" method="get">
    <div class="nav__search--pokemon">
        <input type="text" name="name" id="name" placeholder="Entrer un pokémon" onfocus="this.placeholder=''" onblur="this.placeholder='Chercher un pokémon'">
        <button class="button__submit" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>
<form action="/search/pokemon/type" method="get">
    <div class="nav__search--pokemon">
        <select name="type" id="type">
            <option class="type" value="Type">Type</option>
            <option class="type" value="Feu">Feu</option>
            <option value="Dragon">Dragon</option>
            <option value="Poison">Poison</option>
            <option value="Normal">Normal</option>
            <option value="Insecte">Insecte</option>
            <option value="Eau">Eau</option>
            <option value="Plante">Plante</option>
            <option value="Électrik">Électrik</option>
            <option value="Vol">Vol</option>
            <option value="Roche">Roche</option>
            <option value="Sol">Sol</option>
            <option value="Acier">Acier</option>
            <option value="Glace">Glace</option>
            </select>
            <button class="button__submit" type="submit"><i class="bi bi-search"></i></button>
    </div>
</form>
<main class="pokedex">
    <div class="container__pokedex">
        <% for( const pokemon of listPokemons ) { %>
            <div class="container__pokedex--form">
                <h4 class="container__pokedex--title">#<%= pokemon.id %> <%= pokemon.name %></h4>
                <a href="/pokedex/<%= pokemon.id %>"><img src="/img/<%= pokemon.id %>.png" alt="<%= pokemon.name%>" loading="lazy" class="container__pokedex--img"></a>
                <a href="/pokedex/<%= pokemon.id %>"><h4 class="container__pokedex__details">Détail du pokémon +</h4></a>
                <span class="container__pokedex--type"><%= pokemon.type[0]%> | <%= pokemon.type[1]%></span>
            </div>
            <% } %>
    </div>

</main>
<%- include("partials/footer") %> 